.app {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  position: fixed;
  background-image: url("http://www.firat.edu.tr/front/images/pattern/gplay.png");
  background-repeat: repeat;
  background-size: 170px;
}
.main {
  width: 100%;
  height: 100%;
  margin-top: 60px;
}
