.app {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-image: url("http://www.firat.edu.tr/front/images/pattern/gplay.png");
  background-repeat: repeat;
  background-size: 170px;
}
